#include <windows.h>
#include <commctrl.h>
#include <richedit.h>

#include "resource.hpp"
#include "rconfig.hpp"
#include "app.hpp"

LANGUAGE LANG_ENGLISH, SUBLANG_DEFAULT

//
// Dialog resources
//
IDD_SETTINGS DIALOGEX 0, 0, 380, 232
STYLE DS_SHELLFONT | DS_MODALFRAME | DS_CENTER | WS_POPUPWINDOW | WS_CAPTION | NOT WS_VISIBLE
CAPTION ""
FONT 8, "Ms Shell Dlg"
{
	CONTROL			"", IDC_PREVIEW, WC_STATIC, WS_TABSTOP, 8, 8, 364, 100, WS_EX_STATICEDGE

	GROUPBOX		"", IDC_STATIC, 8, 112, 364, 94

	LTEXT			"Number of glyphs in each level:", IDC_STATIC, 16, 122, 100, 12, SS_CENTERIMAGE
	EDITTEXT		IDC_AMOUNT_CTRL, 296, 122, 44, 12, ES_AUTOHSCROLL | ES_NUMBER | ES_MULTILINE
	CONTROL			"", IDC_AMOUNT, UPDOWN_CLASS, UDS_ALIGNRIGHT | UDS_ARROWKEYS | UDS_AUTOBUDDY | UDS_HOTTRACK | UDS_SETBUDDYINT | UDS_WRAP, 0, 0, 0, 0
	LTEXT			"", IDC_AMOUNT_RANGE, 344, 122, 22, 12, SS_CENTERIMAGE | SS_RIGHT

	LTEXT			"Cyphers density:", IDC_STATIC, 16, 138, 100, 12, SS_CENTERIMAGE
	EDITTEXT		IDC_DENSITY_CTRL, 296, 138, 44, 12, ES_AUTOHSCROLL | ES_NUMBER | ES_MULTILINE
	CONTROL			"", IDC_DENSITY, UPDOWN_CLASS, UDS_ALIGNRIGHT | UDS_ARROWKEYS | UDS_AUTOBUDDY | UDS_HOTTRACK | UDS_SETBUDDYINT | UDS_WRAP, 0, 0, 0, 0
	LTEXT			"", IDC_DENSITY_RANGE, 344, 138, 22, 12, SS_CENTERIMAGE | SS_RIGHT

	LTEXT			"Glyphs speed:", IDC_STATIC, 16, 154, 100, 12, SS_CENTERIMAGE
	EDITTEXT		IDC_SPEED_CTRL, 296, 154, 44, 12, ES_AUTOHSCROLL | ES_NUMBER | ES_MULTILINE
	CONTROL			"", IDC_SPEED, UPDOWN_CLASS, UDS_ALIGNRIGHT | UDS_ARROWKEYS | UDS_AUTOBUDDY | UDS_HOTTRACK | UDS_SETBUDDYINT | UDS_WRAP, 0, 0, 0, 0
	LTEXT			"", IDC_SPEED_RANGE, 344, 154, 22, 12, SS_CENTERIMAGE | SS_RIGHT

	LTEXT			"Color hue:", IDC_STATIC, 16, 170, 100, 12, SS_CENTERIMAGE
	EDITTEXT		IDC_HUE_CTRL, 296, 170, 44, 12, ES_AUTOHSCROLL | ES_NUMBER | ES_MULTILINE
	CONTROL			"", IDC_HUE, UPDOWN_CLASS, UDS_ALIGNRIGHT | UDS_ARROWKEYS | UDS_AUTOBUDDY | UDS_HOTTRACK | UDS_SETBUDDYINT | UDS_WRAP, 0, 0, 0, 0
	LTEXT			"", IDC_HUE_RANGE, 344, 170, 22, 12, SS_CENTERIMAGE | SS_RIGHT

	AUTOCHECKBOX	"Randomize glyph colors", IDC_RANDOMIZECOLORS_CHK, 16, 188, 164, 10

	CONTROL			"", IDC_ABOUT, WC_LINK, WS_TABSTOP | LWS_USEVISUALSTYLE, 68, 214, 100, 10

	PUSHBUTTON		"Reset", IDC_RESET, 8, 212, 50, 14

	PUSHBUTTON		"Preview", IDC_SHOW, 268, 212, 50, 14
	PUSHBUTTON		"Close", IDC_CLOSE, 322, 212, 50, 14
}

//
// String resources
//
STRINGTABLE
{
	1 APP_NAME
}

//
// Bitmap resources
//
IDB_GLYPH			BITMAP	DISCARDABLE		"res\\glyph.bmp"

//
// Cursor resources
//
IDC_CURSOR		CURSOR		"res\\blank.cur"

//
// Icon resources
//
IDI_MAIN		ICON		"res\\100.ico"

//
// Manifest resource
//
1			RT_MANIFEST		"res\\manifest.xml"

//
// Version Information resources
//
1 VERSIONINFO
FILEVERSION		APP_VERSION_RES
PRODUCTVERSION	APP_VERSION_RES
FILEOS			VOS__WINDOWS32
FILETYPE		VFT_APP
FILESUBTYPE		VFT2_UNKNOWN
FILEFLAGSMASK	0x00000000
FILEFLAGS		VS_FF_PATCHED | VS_FF_PRERELEASE
{
	BLOCK "StringFileInfo"
	{
		BLOCK "040904E4"
		{
			VALUE "Comments", _APP_WEBSITE_URL
			VALUE "CompanyName", _APP_AUTHOR
			VALUE "FileDescription", APP_NAME
			VALUE "FileVersion", APP_VERSION
			VALUE "InternalName", APP_NAME_SHORT
			VALUE "LegalCopyright", APP_COPYRIGHT
			VALUE "OriginalFilename", APP_NAME_SHORT ".scr"
			VALUE "ProductName", APP_NAME
			VALUE "ProductVersion", APP_VERSION
		}
	}
	BLOCK "VarFileInfo"
	{
		VALUE "Translation", 0x0409, 1252
	}
}
